 [Unit]
 Description=My Sample Service
 After=multi-user.target

 [Service]
 Type=idle
 WorkingDirectory=/home/pi/rpi-last.fm-coverart
 ExecStart=/usr/bin/sudo -u pi ./start.sh

 [Install]
 WantedBy=multi-user.target
